#flash
  = render 'shared/flash_msg'

#main-content
  %h3 Call Phone from T-Mobile
  - if @profile
    Hello #{@profile['first_name']}!
    %br
    = render "dial_pad"
  - else
    #login
      %a{:href => url_for(:controller => 'auth', :action => 'facebook_authenticate')}
        .btn
          = image_tag "f_logo.png", :width => 25
          %span.text Login With Facebook