// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-content {
  text-align: center;
}

#login {

}

#card {
  -webkit-transition-property: rotation;
  -webkit-transition-duration: 2s;
  -webkit-transform-style: preserve-3d;
}
#local {
  position: absolute;
  width: 100%;
  -webkit-transform: scale(-1, 1);
  -webkit-backface-visibility: hidden;
}
#remote {
  position: absolute;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}
#mini {
  position: absolute;
  height: 30%;
  width: 30%;
  right: 0px;
  -webkit-transform: scale(-1, 1);
  opacity: 1.0;
}
#localVideo {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
#remoteVideo {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}
#miniVideo {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}